@mixin transform($property) {
	-webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    margin: 0 auto;
}

.grid__container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(32, 1fr);
    column-gap: auto;
    max-width: 1110px;
    width: 100%;
    
}

.grid__container1 img {
    display: inline-flex;
    width: 100%;
    height: auto;
}