@mixin transform($property) {
	-webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    margin: 0 auto;
}

.grid__container1 {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr 1fr 1fr);
    column-gap: auto;
    width: 100%;
    max-width: 1110px;
    align-items: center;
    justify-content: center;
    
}

