footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 22px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    
}


.nav2 {

    display: flex;
    margin-left: auto;

    &__list2 {
        display: flex;
        margin: auto;
        font-weight: bold;
      
    }

    &__li2 {
        list-style: none;
        margin-right: 20px;
    }
    
    &__link2 {
        color: black;
        text-decoration: none;
        font-size: 20px;
        &:hover {
            color: #4A4FF2
        }
    }

    &__list2 {
        display: flex;
        gap: 1rem;
        margin-right: 20px;
    }
}

.social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

