.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
    background: white;
    margin: auto;
    max-width: 1110px;
    width: 100%;
  
    &__heading {
        justify-content: flex-start;
        text-align: start;
        color: #4A4FF2;
        font-size: 20px;
        font-weight: bold;
    }

    &__info {
        font-size: 50px;
        max-width: 700px;
        width: 100%;
        font-weight: bold;
        line-height: 70px;
    }

    &__info2 {
        display: flex;
        font-size: 17px;
        justify-content: flex-end;
    }

    &__info2 {
        font-size: 17px;
        margin-right: 20%;
        text-align: start;
        margin-bottom: 20px;
    }

    &__container1 {
        font-size: 17px;
        margin-right: 20%;
        text-align: end;
        margin-bottom: 20px;
    }
 
}