.content3 {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;


    &__minorcontent {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        margin: 0;
        gap: 20px;
        color: #111111;
    }

    &__minorlist1,
    &__minorlist2 {
        font-weight: lighter;
    }

    &__info {
        font-size: 30px;
        font-weight: bold;
        max-width: 60%;
        line-height: 45px;
    }

    &__minor1 {
        font-size: 15px;
        line-height: 30px;
        padding: 0;
    }

    &__minor2 {
        font-size: 15px;
        max-width: 50%;
        line-height: 30px;
    }

}

.awards {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3.125em;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    min-height: 100px;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        min-height: 200px;
        margin-top: 20px;

    }

    &__minorcontainer2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-left: 32.2%
    }

    &__minorcontainer3 {
        width: 38%;
        margin: auto;
        margin-right: 5.438em;

    }

    &__name {
        width: 20%;
        font-size: 20px;
        font-weight: bold;
    }

    &__type {
        width: 20%;
        font-weight: bold;
    }

    &__minorcontainer {
        width: 20%;
    }

    &__details {
        font-weight: lighter;
    }

    &__year {
        font-weight: bold;
    }


}

.projects__container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px auto;
    height: auto;
    width: 100%;
    

}

.projects__infocontainer {
    max-width: 580px;
    width: 100%;
}

.projects__infocontainer2 {
    max-width: 635px;
    width: 100%;
    margin-bottom: 20px;
}

.projects__infocontainer3 {
    max-width: 635px;
    width: 100%;
    margin-bottom: 20px;
}


.projects__container2 {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    line-height: 40px;
    gap: 3em;
}

.projects__container3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects__gridcontainer1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact__container{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    height: auto;
    width: 100%;
    

}

.contact__infocontainer {
    max-width: 580px;
    width: 100%;
}

.contact__infocontainer2 {
    max-width: 445px;
    width: 100%;
    margin-bottom: 15px;
}

.contact__form {
    display: flex;    
    align-self: flex-end;
    max-width: 475px;
    width: 100%;
    line-height: 30px;
}

.contact__form input {
    border: none; 
}


.contact__form textarea {
    border: none; 
}

.contact__form button {
    color: white;
    background-color: #4A4FF2;
    height: 50px;
    width: 125px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact__form button:hover {
    background-color: #3647D7; 
}