.content3 {
    display: flex;
    margin-top: 100px;

    &__info {
        font-size: 30px;
        font-weight: bold;
        max-width: 40%;
        line-height: 45px;
    }

    &__minor1 {
        font-size: 15px;
        font-weight: bold;
        max-width: 50%;
        line-height: 30px;
        padding: 0;
        margin-top: 5px;
        margin-left: 20px;
    }

    &__minor2 {
        font-size: 15px;
        font-weight: bold;
        max-width: 50%;
        line-height: 30px;
        margin-top: 5px;
        margin-left: 20px;
    }

}

.awards {
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 100vh;

    &__container {
        width: 100%;
    }

    &__name {
        margin-left: 50px;
        text-align: start;
        font-size: 20px;
        font-weight: bold;
    }

    &__type {
        text-align: start;
        flex-grow: 1;
        margin: 0 10px;
    }

    &__product {
        flex-grow: 1;
        margin: 0 10px;
        text-align: center;
    }

    &__details {
        flex-grow: 1;
        margin: 0 10px;
        width: 10px;
    }

    &__year {
        flex-grow: 1;
        margin: 0 10px;
        text-align: end;
    }

}